 /* General Styling */
 body {
    font-family: Lato, sans-serif;
    line-height: 22px; 
    color: #262A47;
 }
    
 * {
    box-sizing: border-box;
 }

 .container {
    width: 100%;
    margin: 0 auto;
 } 

 html {
    scroll-behavior: smooth;
 }
   
 /* Font Styling */
 p {
    margin-bottom: 20px;
    font-size: 14px;
 }

 h1,
 h2,
 h3 {
    font-family: Montserrat, sans-serif;
    color: #262A47;
 }
    
 footer h3 {
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
 }
  
 /* Image Styling */
 img {
    max-width: 100%;
 }
    
 /* Header/Logo Styling */
 #masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 75px;
    margin: 0 0 30px;
    color: #262A47;
 }
    
 #homeLink {
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    /* display: inline-block; */
    font-family: Oswald, sans-serif;
    letter-spacing: .1em;
    font-size: 14px;
    color: white;
    background-color: rgba(38, 42, 71);
    padding: 7px;
    text-decoration: none;
 }
  
 /* Nav Bar w/ Dropdown */
 nav {
    float: right;
    margin-top: 30px;
    margin-right: 40px;
    line-height: 18px;
    letter-spacing: .1em;
    font-size: 14px;
 }
    
 nav a {
    display: inline-block;
    margin-left: 15px;
    font-family: Oswald, sans-serif;
    color: white;
    background-color: rgba(38, 42, 71);
    padding: 7px;
    text-decoration: none;
 }
    
 nav a:first-child {
    font-size: 14px;
    font-family: Oswald, sans-serif;
 }
  
 /* Nav links on hover styling */
 nav a:hover {
    color:  #CFBBBA !important;
 }
  
 /*Dropdown Styling */
 .dropdown {
    display: inline-block;
    font-size: 14px;
    font-family: Oswald, sans-serif;
    padding-left: 0px !important;
    margin-left: 15px !important;
    margin-right: 20px !important;
    color: white !important;
 }
    
 .dropdown-content {
    display: none;
    position: absolute;
    background-color: #262A47;
    color: white !important;
    font-family: Oswald, sans-serif;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 1;
    margin-right: 15px;
 }
    
 .dropdown:hover .dropdown-content {
    display: grid;
 }
    
 .dropdown-link {
    border: none !important;
    font-family: Oswald, sans-serif;
    line-height: 22px;
    color: white !important;
 }


 /* About Me- Body*/
 .mainSection {
    padding-top: 75px;
    max-width: 1100px;
    margin: 0 auto;
    display: block !important;
 }

 #projects {
    margin-bottom: 75px;
    margin-top: 50px;
 }
  
 .project-tile {
    height: 400px;
    width: 350px;
    background-color: gray;
    margin: 0 30px 40px;
 }
  
 /*Left side of layout- About Me Image */
 .leftSide {
    width: 40%;
    float: left;
    margin-left: 75px;
 }
  #aboutMe {
      width: 90%;
      margin-right: 20px;
      /* height: 100%; */
  }

 /* Right Side of Layout- About Me Pargraph */  
 .rightSide {
    width: 45%;
    float: left;
    margin: 25px 20px;
    padding-top: 20px;
    font-size: 14px !important;
 }

 #aboutMePara {
    margin-top: 15px;
    font-size: 14px;
 }

 #space {
    margin-top: -10px;
    margin-bottom: 10px;
 }

 a:link {
    text-decoration: none;
    color: #262A47;
 }

 a:hover {
    color: #CFBBBA;
 }

 /* CV Styling */
 .cv {
    display: flex;
    margin: 0 auto; 
    max-width: 850px;
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .cv:after {
    content: "";
    display: table;
    clear: both; 
 }

 /* Horizontal Seperator Line */
 .line {
    width: 80%;
    top: 50%;
    text-align: center;
    color: #CFBBBA;
 }


 /* Resume Left */
 .resumeCateg {
    margin-bottom: 20px;
 }

 #resumeLeft {
    margin-right: 100px;
 }

 #noBotMargin {
    margin-bottom: 0px !important;
 }

 #leftAlign {
    text-align: left !important;
    margin-bottom: 5px !important;
    white-space: normal;
 }

 /* Bullet Points for Experience */
 ul.b {
    list-style-type: disc;
    padding: 0 !important;
    margin: 0 !important;
    white-space: normal
 }

 .b li {
    list-style-type: disc;
    display:list-item;
    text-align: left;
    margin-left: 25px;
    padding: 0 !important;
    font-size: 14px;
    white-space: normal
 }

 ul.b  {
    word-wrap: break-word;
 }

 li {
    word-wrap: break-word;
 }

 /* Styling for Company Name */
 a.oblique {
    color: #262A47;
    font-style: oblique;
 }

 a.oblique:hover {
    color: #CFBBBA;
 } 

 .dateHidden {
    display: none;
 }

 /* Resume Right */
 .resumeDate {
    font-style: oblique;
    font-size: 14px;
    flex: 50%;
    width: 150px;
    text-align: right;
 }

 /* Spacing for date span- left column of resume */
 #date1 {
    margin-top: 45px;
 }

 #date2 {
    margin-top: 90px;
 }

 #date3 {
    margin-top: 95px;
 }

  #date4 {
    margin-top: 140px;
}


 /* Back to top link */
 #backToTop {
    text-align: right;
    font-size: 14px;
    font-style: oblique;
    font-weight: 600;
    text-decoration: none;
    color: #262A47;
 }
  
 #marginRight {
    margin-right: 40px;
 }

 /* Footer & Social Links */
 footer {
    padding: 1px;
    display: block;
    width: 100%;
    clear: both;
    font-size: 14px;
    text-align: center;
    background:#262A47;
 }

 .footer {
    width: 100%;
    min-height: 50px;
 }
  
 /* Social Media Link Styling */
 .socialLinks {
    display: inline-block;
 }
  
 .socialLinks a {
    color: #CFBBBA;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 5px 10px;
 }

 i.fab:hover {
    color: white;
  }
  
  
 /* Social Media Link Layout Styling- centered/spaced */
 ul { 
    margin: 20px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    max-width: 600px;
    text-align: center;
 }
  
 li { 
    display: table-cell; 
    position: relative; 
 }

  
   
 /*Mobile Responsiveness*/

 /* Max-Width 960px */
 @media only screen and (max-width: 960px) { 
    /* About Me Image/ Paragraph */
    #projects {
        margin-bottom: 20px;
        float: none;
    }
    .leftSide {
        width: 100%;
        margin: 0 auto;
        float: none;
        text-align: center;
    }
    .project-tile {
        margin: 0 auto;
        clear: both;
        float: none;
        text-align: center;
    }

    .rightSide {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        float: none;
        text-align: center;
        word-wrap: break-word;
        padding-top: 0;
    }    

    .dateHidden {
        display: block !important;
        font-weight: 300;
        font-size: 13px;
        color: gray;
        margin-bottom: 0;
    }

    /* CV Styling */
    #resumeLeft {
        margin: 0 auto;
    }

    .cv {
        display: block !important;
        margin: 0 auto;
        max-width: 600px;
        padding-top: 40px;
    }

    .column {
        flex: unset !important;
    }

    .resumeDate {
        display: none;
    }

    ul {
       width: unset !important;
    }
    #aboutMe {
        max-width: 350px;
        margin-right: 0px !important;
    }
 }
  
 /* Media Query- 768px or Less */
 @media only screen and (max-width: 650px) {
    .rightSide {
        margin: 0 auto;
        padding: 10px;
    }

    .cv {
        word-wrap: break-word;
        margin: 0 auto;
    }

    #resumeLeft {
        margin: 0 auto;
        word-wrap: break-word;
        padding: 10px;
    }

    #resumeRight {
        display: none;
    }

    .project-tile {
        width: 300px;
        height: 350px;
    }

    #homepageLink {
        margin-left: 20px;
    }
    #aboutMe {
        max-width: 300px;
        margin-right: 0px !important;
    }
 }

 /* Media Query 450px or Less */
 @media only screen and (max-width: 450px) {
    #resumeLeft .column {
        max-width: 400px;
        word-wrap: break-word;
        padding: 10px;
    }

    .cv {
        margin: 0 20px 20px 20px;
    }

    .rightSide {
        margin: 0 auto;
        padding: 10px;
    }

    #logo {
        margin-left: 5px;
        margin-top: 5px;
    }

    nav {
        margin-right: 15px;
        margin-top: 35px;
    }

    #about {
        display: none;
    }

    .project-tile {
        margin: 0 auto;
        width: 200px;
        height: 250px;
    }
    #homeLink {
        margin-left: 15px !important;
        margin-top: 35px !important;
    }
}
