body {
    font-family: Lato, sans-serif;
    line-height: 24px;
    color: #262A47
}

* {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    clear: both
}

h2,
h3,
p {
    margin-bottom: 20px;
    margin-top: 5px
}

h1,
h2,
h3 {
    font-family: Montserrat, sans-serif;
    color: #262A47;
    line-height: 35px
}

footer h3 {
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee
}

h2.work-header {
    text-transform: uppercase;
    font-size: 30px;
    text-align: left;
}

img {
    max-width: 100%
}

x.homepage-image {
    height: auto;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px
}


/* navigation */
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    height: 75px;
    margin: 0 0 30px;
    color: #262A47
}

#logo {
    float: left;
    width: 100px;
    height: auto;
    margin-left: 40px;
    margin-top: 20px
}

nav {
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .1em
}

nav a {
    display: inline-block;
    margin-left: 15px;
    font-family: Oswald, sans-serif;
    color: white;
    background-color: rgba(38, 42, 71);
    padding: 7px;
    text-decoration: none
}

nav a:first-child {
    font-size: 14px;
    font-family: Oswald, sans-serif
}

nav a:hover {
    color: #CFBBBA !important
}

.dropdown {
    display: inline-block;
    font-size: 14px;
    font-family: Oswald, sans-serif;
    padding-left: 0px !important;
    margin-left: 15px !important;
    margin-right: 20px !important;
    color: white !important
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262A47;
    color: white !important;
    font-family: Oswald, sans-serif;
    min-width: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    padding: 12px 10px;
    margin-right: 15px;
    z-index: 1
}

.dropdown:hover .dropdown-content {
    display: grid
}

.dropdown-link {
    border: none !important;
    font-family: Oswald, sans-serif;
    line-height: 22px;
    font-weight: 100px;
    color: white !important
}

/* project tiles */
br {
    display: none
}

figure {
    display: inline-block
}

#projects {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.project-tile {
    height: 300px;
    width: 250px;
    background-color: gray;
    margin: 75px 40px 0;
    display: inline-block;
    box-shadow: 20px 15px lightgray
}

.project-tile:hover {
    opacity: .5;
    filter: alpha(opacity=100);
    box-shadow: 0 0;
    transition: ease
}

figcaption {
    text-align: center;
    padding-top: 5px;
    font-size: 13px;
    font-style: oblique;
    word-wrap: break-word;
    margin: 0 auto
}

/* footer */
footer {
    padding: 1px;
    display: block;
    width: 100%;
    clear: both;
    font-size: 14px;
    text-align: center;
    background: #262A47
}

.socialLinks {
    display: inline-block
}

.socialLinks a {
    color: #CFBBBA;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;
    letter-spacing: .15em;
    display: inline-block;
    padding: 5px 10px;
    position: relative
}

i.fab:hover {
    color: white
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0
}

#backToTop {
    text-align: right;
    font-size: 14px;
    font-style: oblique;
    font-weight: 600;
    text-decoration: none;
    color: #262A47
}

#marginRight {
    margin-right: 40px
}

@media screen and (max-width:1900) {
    .homepage-image {
        text-align: center;
    }
    .homepage-image > img {
        width: 75%;
    }    
}

/* reponsive large screen */
@media screen and (max-width:1200px) {
    span.wrap {
        white-space: nowrap
    }

    .homepage-image {
        height: auto;
        width: 90%;
        margin: auto;
        padding: 70px 0 50px;
    }

    h2.work-header {
        text-transform: uppercase;
        font-size: 24px;
        text-align: left;
        margin: 0 60px;
    }

    hr {
        margin: 5px 60px;
    }
}

/* responsive tablet */
@media screen and (max-width:748px) {
    .homepage-image, h2.work-header, hr {
        display: none;
    }

    #project1 {
        margin: 150px 0 0 0;
    }
}

@media screen and (max-width:520px) {
    #hide {
        display: none
    }

    br {
        display: inline
    }

    h1 {
        margin-top: 50px
    }

    #projects {
        padding: 0
    }
}

/* responsive large phone */
@media only screen and (max-width:475px) {
    #logo {
        margin-left: 5px;
        margin-top: 5px
    }

    nav a {
        margin-left: 0
    }

    nav {
        margin-right: 20px
    }

    li {
        padding: 2px
    }

    .socialLinks a {
        padding: 0
    }

    h1 {
        margin-top: 25px
    }
}

/* responsive small phone */
@media screen and (max-width:328px) {
    br {
        display: none
    }
}