
/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}


@media only screen and (max-width: 980px) {
  header {
    display:static;
  }
  .fullsize-image, footer {
    width: 1000px;
  }
  .container {
  max-width: 700px;
  margin: 0 auto;
  }
  .main-section {
  max-width: 400px;
  }
  .social {
    width:50px;
    height: 50px;
  }

  .auth-image {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  } 
}

@media only screen and (max-width: 768px) {

.container {
  max-width: 800px;
  margin-left: 4%;
}
.main-section {
  max-width:100%;
  }

}

@media only screen and (max-width: 640px) {

/* Nav/Navbar at 640px */

#logo {
  width: 100%;
}

nav {
  float: none;
  clear: both;
  text-align: center;
  border:1px solid #ccc;
  border-width:1px 0;
}

.nav li{
  display:inline;
  text-align: center;
}

nav a {
  margin:15px;
}

nav a:first-child {
  border-left: 0 none;
}


/* Main Section at 640px */
.main-section {
  margin: 20px;
  max-width: 800px;
  float:none;
  overflow: auto;
  clear: both; 
  }


/* Author Image at 640px */
.auth-image {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}


.work {
  max-width: 550px;
  width: 100%;
}


}