body {
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #262A47;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  clear: both;
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  font-family: Lato, sans-serif;
  color: #262A47;
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
}

h2,
h3 {
  font-size: 18px;
  kerning: 10px;
}

img {
  max-width: 100%;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 75px;
  margin: 0 0 30px;
  color: #262A47;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#logo {
  float: left;
  width: 100px;
  height: auto;
  margin-left: 40px;
  margin-top: 10px;
}

nav {
  float: right;
  margin-top: 25px;
  margin-right: 40px;
  line-height: 18px;
  font-size: 14px;
}

nav a {
  display: inline-block;
 /*  padding-left: 15px; */
  margin-left: 15px;
  font-family: Oswald, sans-serif;

  color: #262A47;
  text-decoration: none;
  border-left: 1px solid #262A47;
}

nav a:first-child {
  border-left: 0 none;
  font-size: 14px;
  font-family: Oswald, sans-serif;

}

.dropdown {
    /* position: relative; */
    display: inline-block;
    font-size: 14px;
    font-family: Oswald, sans-serif;
    padding-left: 0px !important;
    margin-left: 15px !important;
    border-left: 1px solid #262A47;
    color: #262A47;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #262A47;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: grid;
}

.dropdown-link {
  border: none !important;
  font-family: Lato, sans-serif;
  line-height: 22px;
  font-weight: 100px;
  color: white;
}

#contactLink {
  padding-left: 15px;
}



/* footer */

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #262A47;
  text-align: center;
  background: #CFBBBA;
  border-top: 6px solid #262A47;
}

#footerCopy {
  text-align: center;
}
/* sidebar */


h3,
.sidebar h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

.social {
  width: 62px;
  height: 62px;
  margin-top: 8px;
  margin-right: 0px;
}



/* Project Tiles Layout/ Middle Section Layout */
figure {
  display: inline-block;
}

#projects {
  text-align: center;
  width: 100%;
  padding-bottom: 75px;
  padding-top: 50px;
}

/* Project Image Styles*/
.project-tile {
  height: 300px;
  width: 250px;
  background-color: gray;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
  box-shadow: 20px 15px #262A47;
}

/* Project Description */
figcaption {
  text-align: center;
  padding-top: 5px;
  margin-bottom: 40px;
}


/* Main Page Responsiveness */
@media only screen and (max-width: 768px) {
.rightSectionCopy {
  display: inline-block;
  width: 100%;
  padding: 80px 50px 0px 0px;
  margin: 100px 150px;
} .right-img {
  margin: 30px 0px 30px 120px;
}
.fullsize-image,  #masthead, footer {
  width: 1000px;
}
}

/* portfolio page */

.work {
  position: relative;
  float: left;
  width: 274px;
  margin: 20px 0 25px;
  overflow: auto;
}

.work:nth-child(even) {
  margin-right: 40px;
}

.work img {
  width: 100%;
  border: 0 none;
  opacity: 0.8;
}

.work h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}

.auth-image {
  float: left;
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}

/* contact page */

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #4aaaa5;
  border: 0 none;
}


@media only screen and (max-width: 980px) {
  header {
    display:static;
  }
  .fullsize-image, footer {
    width: 1000px;
  }
  .container {
  max-width: 700px;
  margin: 0 auto;
  }
  .main-section {
  max-width: 400px;
  }

  .sidebar {
    max-width: 250px;
  }
  .social {
    width:50px;
    height: 50px;
  }

  .auth-image {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
  } .rightSectionCopy {
    margin: 170px 0px 30px 100px;
    padding: 80px 0px 0px 0px;
  }
}

@media only screen and (max-width: 768px) {

.container {
  max-width: 800px;
  margin-left: 4%;
}
.main-section {
  float: left;
  max-width:100%;
  }
.sidebar {
  max-width: 100%;
  margin-bottom: 40px;
}

}

@media only screen and (max-width: 640px) {

/* Nav/Navbar at 640px */

#logo {
  width: 100%;
}

nav {
  float: none;
  clear: both;
  text-align: center;
  border:1px solid #ccc;
  border-width:1px 0;
}

.nav li{
  display:inline;
  text-align: center;
}

nav a {
  margin:15px;
}

nav a:first-child {
  border-left: 0 none;
}


/* Main Section at 640px */
.main-section {
  margin: 20px;
  max-width: 800px;
  float:none;
  overflow: auto;
  clear: both; 
  }


/* Author Image at 640px */
.auth-image {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar {
  margin:20px;
  max-width: 600px;
  float:none;
}

.work {
  max-width: 550px;
  width: 100%;
}


}